body{
    background-color: #f7f797;
}

.blue{
    color : #3471eb;
}

.red{
    color : red;
}

.centered{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.formAccueil{

    text-align:right;
    margin-right:35%;
}